# Xcode
*.mode*
*.pbxuser
xcuserdata
*.xccheckout
xcshareddata

# macOS
.DS_Store

# Cocoapods
Pods

# Others
!Makefile
project.xcworkspace
build
/vlc-unstable
DerivedData
MobileVLCKit/ImportedSources
/libvlc/vlc
Tests/Assets
Headers/Internal/vlc-plugins-*
VLCKit-*
