# Bad (and bouncing) emails and names
Pierre d'Herbemont <pdherbemont@videolan.org>
<pdherbemont@videolan.org> <pdherbemont@free.fr>
Rémi Denis-Courmont <remi@remlab.net>
<remi@remlab.net> <rem@videolan.org>
Felix Paul Kühne <fkuehne@videolan.org>
<fkuehne@videolan.org> <fpk@Bartleby.local> <felix@serioese.gmbh>
Faustino E. Osuna <riquedafreak@videolan.org>
<riquedafreak@videolan.org> <enrique.osuna@gmail.com>
VideoLAN <videolan@videolan.org>
<videolan@videolan.org> <videolan@jones.via.ecp.fr>