# Bad (and bouncing) emails and names
Pierre d'Herbemont <pdherbemont@videolan.org>
<pdherbemont@videolan.org> <pdherbemont@free.fr>
Rémi Denis-Courmont <remi@remlab.net>
<remi@remlab.net> <rem@videolan.org>
Felix Paul Kühne <fkuehne@videolan.org>
<fkuehne@videolan.org> <fpk@Bartleby.local>
<fkuehne@videolan.org> <fpk@Felix-Kuhnes-MacBook.local>
<fkuehne@videolan.org> <fpk@felix-kuhnes-macbook.local>
<fkuehne@videolan.org> <felix@serioese.gmbh>
<fkuehne@videolan.org> <felix@feepk.net>
Faustino E. Osuna <riquedafreak@videolan.org>
<riquedafreak@videolan.org> <enrique.osuna@gmail.com>
VideoLAN <videolan@videolan.org>
<videolan@videolan.org> <videolan@jones.via.ecp.fr>
Soomin Lee <bubu@mikan.io>
<bubu@mikan.io> <thehungrybu@gmail.com>
Rafaël Carré <funman@videolan.org>
<funman@videolan.org> <rafael.carre@gmail.com>
Maxime Chapelet <umxprime@videolabs.io>
<umxprime@videolabs.io> <umxprime.videolabs@gmail.com>
Jérémy Marchand <contact@kodlian.com>
<contact@kodlian.com> <kodlian@users.noreply.github.com>
David Fuhrmann <dfuhrmann@videolan.org>
<dfuhrmann@videolan.org> <david.fuhrmann@googlemail.com>
Alexandre Janniaux <ajanni@videolabs.io>
<ajanni@videolabs.io> <alexandre.janniaux@gmail.com>
