//
//  vlc.xcconfig
//  VLC
//
//  Created by Pierre d'Herbemont on 6/26/10.
//  Copyright 2010-2013 VLC Authors and VideoLAN. All rights reserved.
//


VLC_SRC_DIR=$(PROJECT_DIR)/MobileVLCKit/ImportedSources/vlc
VLC_PLATFORM[sdk=iphonesimulator*]=Simulator
VLC_PLATFORM[sdk=iphoneos*]=OS
VLC_INSTALL_DIR=$(VLC_SRC_DIR)/install-ios-$(VLC_PLATFORM)/$(CURRENT_ARCH)

//OTHER_CFLAGS= -ObjC -all_load
#include "vlc-plugins.xcconfig"

VLC_CONTRIB_DIR=$VLC_INSTALL_DIR/contribs
AVCODEC=$(VLC_CONTRIB_DIR)/lib/libavutil.a ${VLC_CONTRIB_DIR}/lib/libavcodec.a $(VLC_CONTRIB_DIR)/lib/libavformat.a $(VLC_CONTRIB_DIR)/lib/libswscale.a $(VLC_CONTRIB_DIR)/lib/libgsm.a
DVBPSI=$(VLC_CONTRIB_DIR)/lib/libdvbpsi.a
FLAC=$(VLC_CONTRIB_DIR)/lib/libFLAC.a
FREETYPE=$(VLC_CONTRIB_DIR)/lib/libfreetype.a
FRIBIDI=$(VLC_CONTRIB_DIR)/lib/libfribidi.a
ASS=$(VLC_CONTRIB_DIR)/lib/libass.a
GCRYPT=$(VLC_CONTRIB_DIR)/lib/libgcrypt.a $(VLC_CONTRIB_DIR)/lib/libgpg-error.a
HARFBUZZ=$(VLC_CONTRIB_DIR)/lib/libharfbuzz.a
LIVE555=$(VLC_CONTRIB_DIR)/lib/libUsageEnvironment.a $(VLC_CONTRIB_DIR)/lib/libBasicUsageEnvironment.a $(VLC_CONTRIB_DIR)/lib/libgroupsock.a $(VLC_CONTRIB_DIR)/lib/libz.a $(VLC_CONTRIB_DIR)/lib/libliveMedia.a
MKV=$(VLC_CONTRIB_DIR)/lib/libebml.a $(VLC_CONTRIB_DIR)/lib/libmatroska.a
MODPLUG=$(VLC_CONTRIB_DIR)/lib/libmodplug.a
OPUS=$(VLC_CONTRIB_DIR)/lib/libopus.a
OGG=$(VLC_CONTRIB_DIR)/lib/libogg.a $(VLC_CONTRIB_DIR)/lib/libtheora.a $(VLC_CONTRIB_DIR)/lib/libtheoradec.a $(VLC_CONTRIB_DIR)/lib/libtheoraenc.a $(VLC_CONTRIB_DIR)/lib/libvorbis.a $(VLC_CONTRIB_DIR)/lib/libvorbisenc.a $(VLC_CONTRIB_DIR)/lib/libvorbisfile.a
PICS=$(VLC_CONTRIB_DIR)/lib/libpng.a $(VLC_CONTRIB_DIR)/lib/libopenjpeg.a
SPEEX=$(VLC_CONTRIB_DIR)/lib/libspeex.a $(VLC_CONTRIB_DIR)/lib/libspeexdsp.a
TAGLIB=$(VLC_CONTRIB_DIR)/lib/libtag.a $(VLC_CONTRIB_DIR)/lib/libtag_c.a
VPX=$(VLC_CONTRIB_DIR)/lib/libvpx.a
XML=$(VLC_CONTRIB_DIR)/lib/libxml2.a
ZLIB=$(VLC_CONTRIB_DIR)/lib/libz.a
ZVBI=$(VLC_CONTRIB_DIR)/lib/libzvbi.a
SSH=$(VLC_CONTRIB_DIR)/lib/libssh2.a

OTHER_LIBTOOLFLAGS=$(ASS) $(AVCODEC) $(DVBPSI) $(FLAC) $(FRIBIDI) $(FREETYPE) $(GCRYPT) $(HARFBUZZ) $(LIVE555) $(MKV) $(MODPLUG) $(OGG) $(OPUS) $(PICS) $(SPEEX) $(TAGLIB) $(XML) $(VPX) $(ZLIB) $(ZVBI) $(SSH) $(VLC_INSTALL_DIR)/lib/vlc/libcompat.a  $(VLC_INSTALL_DIR)/lib/libvlc.a $(VLC_INSTALL_DIR)/lib/libvlccore.a $(VLC_PLUGINS_LDFLAGS) $(OTHER_CFLAGS)
